.wbPlan-cenCon {
  border: 1px solid #e3e3e3;
}

@media screen and (min-width: 1280px) {
  .wbPlan-cenCon {
    overflow: hidden;
    width: 1200px;
    border-bottom: 1px solid #d8d8d8;
  }
}

@media screen and (max-width: 1280px) {
  .wbPlan-cenCon {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
  }
}

@media screen and (max-width: 1200px) {
  .wbPlan-cenCon-desktop {
    display: none !important;
  }
  .wbPlan-cenCon-mobile {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .wbPlan-cenCon-desktop {
    display: block !important;
  }
  .wbPlan-cenCon-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 360px) {
  .pmod-wb-lp-b2bgloba-plan .f-l {
    float: left;
  }

  .pmod-wb-lp-b2bgloba-plan dd,
  .pmod-wb-lp-b2bgloba-plan div,
  .pmod-wb-lp-b2bgloba-plan dl,
  .pmod-wb-lp-b2bgloba-plan dt,
  .pmod-wb-lp-b2bgloba-plan h1,
  .pmod-wb-lp-b2bgloba-plan h2,
  .pmod-wb-lp-b2bgloba-plan h3,
  .pmod-wb-lp-b2bgloba-plan h4,
  .pmod-wb-lp-b2bgloba-plan h5,
  .pmod-wb-lp-b2bgloba-plan h6,
  .pmod-wb-lp-b2bgloba-plan img,
  .pmod-wb-lp-b2bgloba-plan input,
  .pmod-wb-lp-b2bgloba-plan li,
  .pmod-wb-lp-b2bgloba-plan p,
  .pmod-wb-lp-b2bgloba-plan table,
  .pmod-wb-lp-b2bgloba-plan td,
  .pmod-wb-lp-b2bgloba-plan textarea,
  .pmod-wb-lp-b2bgloba-plan th,
  .pmod-wb-lp-b2bgloba-plan ul {
    margin: 0;
    padding: 0;
  }

  .pmod-wb-lp-b2bgloba-plan .clear:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .wbPlan-cenCon .wbPlan-cenCon-left {
    margin-top: 270px;
    width: 296px;
  }

  .pmod-wb-lp-b2bgloba-plan .f-l {
    float: left;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right {
    width: 904px;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi.active {
    border: 2px solid #15171c;
    border-top: none;
  }
  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigLiTop {
    width: 100%;
    height: 270px;
    overflow: hidden;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi.active
    .wbPlan-cenCon-liUpp {
    opacity: 1;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liUpp {
    width: 100%;
    height: 44px;
    background: #15171c;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding: 0 17%;
    overflow: hidden;
    opacity: 0;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liUpp
    span {
    display: table;
    width: 100%;
    height: 44px;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liUpp
    span
    i {
    font-style: normal;
    height: 44px;
    display: table-cell;
    vertical-align: middle;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi.active
    .wbPlan-cenCon-liTit {
    color: #15171c;
    font-weight: 600;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTit {
    font-size: 22px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liPice {
    font-size: 32px;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
    height: 45px;
    font-weight: 600;
  }
  .wbPlan-cenCon-liPice span {
    font-weight: bold;
  }
  .wbPlan-cenCon-liPice i {
    font-style: normal;
    font-size: 15px;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liPice {
    font-size: 32px;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
    height: 45px;
    font-weight: 600;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liIntro {
    width: 100%;
    height: 34px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    margin-top: 11px;
    padding: 0 10%;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtn.active {
    background: #15171c;
    color: #fff;
  }

  .next-btn.next-btn-normal.active,
  .next-btn.next-btn-normal.hover,
  .next-btn.next-btn-normal:active,
  .next-btn.next-btn-normal:focus,
  .next-btn.next-btn-normal:hover {
    background-color: #f2f3f7;
    border-color: #a0a2ad;
    color: #333;
    text-decoration: none;
  }

  .next-btn {
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .next-btn,
  .next-btn:active,
  .next-btn:focus,
  .next-btn:hover {
    outline: 0;
  }

  .next-btn,
  .next-btn *,
  .next-btn :after,
  .next-btn :before {
    box-sizing: border-box;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtnMore {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #1047f5;
    margin-top: 16px;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon .wbPlan-cenCon-right .wbPlan-cenCon-rigLi {
    width: 33%;
    overflow: hidden;
    color: #2c2d69;
    border-left: 1px solid #d8d8d8;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr.title {
    background: #f9f9fb;
    border-bottom: 0;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e3e3e3;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable {
    width: 100%;
    /* border-right: 1px solid #e3e3e3; */
    color: #333;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr
    p {
    font-size: 12px;
    height: 44px;
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-left: none;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr
    p
    span {
    display: table-cell;
    vertical-align: middle;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr
    p {
    font-size: 12px;
    height: 44px;
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-left: none;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e3e3e3;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr
    p {
    font-size: 12px;
    height: 44px;
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-left: none;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigTable
    .wbPlan-cenCon-rigTabTr
    p
    span {
    display: table-cell;
    vertical-align: middle;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-rigBot {
    margin-bottom: 10px;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtn {
    min-width: 160px;
    padding: 0 12px;
    height: 36px;
    border: 2px solid #15171c;
    color: #1047f5;
    text-align: center;
    border-radius: 18px;
    font-size: 14px;
    line-height: 32px;
    margin: 15px auto 0;
    cursor: pointer;
    overflow: hidden;
    display: block;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtnMore.bottomBtn {
    margin-bottom: 20px;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtnMore {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #1047f5;
    margin-top: 16px;
  }

  .wbPlan-cenCon
    .wbPlan-cenCon-right
    .wbPlan-cenCon-rigLi
    .wbPlan-cenCon-liTopbtnMore
    a {
    text-decoration: underline;
    color: #212529;
  }

  .wbPlan-cenCon .wbPlan-cenCon-left .wbPlan-cenCon-leftLi.title {
    font-weight: 600;
    background: #f9f9fb;
    border-bottom: 0;
  }

  .wbPlan-cenCon .wbPlan-cenCon-left .wbPlan-cenCon-leftLi {
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    color: #333;
    padding-left: 25px;
    border-bottom: 1px solid #e3e3e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .wbPlan-cenCon {
    flex-direction: column;
  }
}

.wbPlan-cenCon-mobile .wbPlan-cenCon-pills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wbPlan-cenCon-mobile .wbPlan-cenCon-pills li {
  min-width: 50px;
  font-size: 24px;
  padding: 5px;
  margin: 10px;
}

.wbPlan-cenCon-mobile .wbPlan-cenCon-pills li .active {
  border-bottom: 3px solid #15171c;
}

.wbPlan-cenCon-mobile .wbPlan-cenCon-pills li a {
  font-weight: 600;
}

.wbPlan-cenCon-mobile .tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wbPlan-cenCon-mobile .tab-content .tab-pane {
  width: 100%;
  max-width: 500px;
}
.h-270 {
  height: 270px;
}
.display-block {
  display: block;
}
.custom-select-part {
  color: rgb(142, 142, 142);
  font-size: 14px;
  height: auto;
}
.wbPlan-cenCon-mobile .tab-content .content {
  width: 100%;
  min-height: 550px;
}
.header_mobile {
  padding: 10px;
  padding-bottom: 30px;
}
.wbPlan-cenCon-mobile .tab-content .content div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wbPlan-cenCon-mobile .tab-content .content .price {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 85px;
}

.wbPlan-cenCon-mobile .tab-content .content .price span {
  font-size: 32px;
  font-weight: bold !important;
  color: #2c2d69;
}

.wbPlan-cenCon-mobile .tab-content .content .price i {
  font-size: 15px;
  color: #2c2d69;
}

.wbPlan-cenCon-mobile .tab-content .content .special-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wbPlan-cenCon-mobile .tab-content .content .special-button {
  min-width: 200px;
  max-width: 280px;
  width: 80%;
  padding: 0 12px;
  height: 36px;
  border: 2px solid #15171c;
  color: #fff;
  background: #15171c;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  margin: 15px auto 0;
  cursor: pointer;
  overflow: hidden;
}

.wbPlan-cenCon-mobile .tab-content .content .pay-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wbPlan-cenCon-mobile .tab-content .content .pay-button {
  min-width: 160px;
  padding: 0 12px;
  height: 36px;
  border: 2px solid #15171c;
  color: #fff;
  background: #15171c;
  text-align: center;
  border-radius: 18px;
  font-size: 14px;
  line-height: 32px;
  margin: 15px auto 0;
  cursor: pointer;
  overflow: hidden;
}

.wbPlan-cenCon-mobile .tab-content .content .title {
  font-weight: 600;
  background: #f9f9fb;
  border-bottom: 0;
  height: 50px;
  align-items: center;
  display: flex;
  padding-left: 20px;
  font-size: 16px;
}

.wbPlan-cenCon-mobile .tab-content .content .info-container {
  margin-bottom: 20px;
}

.wbPlan-cenCon-mobile .tab-content .content .info-container a {
  text-decoration: underline !important;
}

.wbPlan-cenCon-mobile .tab-content .content .feature-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 210px;
  align-items: flex-start;
  justify-content: flex-start;
}

.wbPlan-cenCon-mobile .tab-content .content .feature-container .feature-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #e3e3e3;
  height: 45px;
}

.wbPlan-cenCon-mobile .tab-content .content .feature-container .feature-title {
  width: 70%;
  height: 100%;
  justify-content: flex-start;
  border-right: 1px solid #e3e3e3;
  padding-left: 10px;
}

.wbPlan-cenCon-mobile
  .tab-content
  .content
  .feature-container
  .feature-content {
  width: 30%;
  height: 100%;
}
